.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
background-size: cover;
background-position-x:center;
background-position-y: center;
}
form{
  /* display:flex; */
  /* flex-direction: column; */
  
  background-color: pink;
  padding: 0px 80px;
  border-radius: 10px;
  /* align-items: center; */
}
h1{
  color: brown;
  text-align: center;
}
button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
background-color: rebeccapurple;
color: white;
border-radius: 5px;
font-weight: bold;
font-size: 19px;
cursor: pointer;
margin-top: 15px;
margin-bottom: 30px;
}